<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.tonyc.websample.dao.UserDao">
    <resultMap id="BaseResultMap" type="io.tonyc.websample.domain.User">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USERNAME, PASSWORD
    </sql>
    <select id="findById" resultMap="BaseResultMap" parameterType="INTEGER">
        select
        <include refid="Base_Column_List"/>
        from t_users where ID = #{id}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_users
    </select>
</mapper>